html
{
    box-sizing:border-box;
}

body
{
    margin:0;
    padding:0;
}

.container
{
    width:100%;
    margin:0;
    padding:0;
}

.row-1
{
    width:800px;
    margin:0 auto;
}

.row-2
{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:20px;
}

.clear
{
    clear:both;
}

#div-item
{
    float:right;
    margin-bottom:10px;
}

#div-region
{
    float:right;
    clear:right;
    margin-bottom:10px;
}

#div-form
{
    float:right;
    clear:right;
}

.row-2 #canvas-rect
{
    float:left;
    margin-left:5%;
}

.row-2 #canvas-line
{
    float:right;
    margin-right:5%;
}

table
{
    /* border:solid 2px rgba(137, 207, 245, 0.3); */
    border-collapse: collapse;
    table-layout:fixed;
}

td,th
{
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:2px;
    padding-top:2px;

    border:solid 2px rgba(96, 195, 248, 0.6); 
}

th
{
    background-color:rgb(181, 213, 255) !important;
}

tr.normal
{
    background-color:rgba(187, 211, 243, 0.3);
}

tr.mouse-over
{
    background-color:rgba(86, 154, 231, 0.8);
}

input.form-input
{
    width:25px;
    border:none;
    display:inline-box;
    margin:0;
    background-color:transparent;
    font-size:0.9rem;
    padding:0;
    color:rgb(61, 60, 59);
}

input:focus
{
    /* border-color:black; */
    outline:0;
}