html
{
    box-sizing:border-box;
}

.container
{
    width:800px;
    margin:0 auto;
}

table
{
    /* border:solid 2px rgba(137, 207, 245, 0.3); */
    border-collapse: collapse;

}

td,th
{
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:10px;

    border:solid 2px rgba(96, 195, 248, 0.6); 
}

th
{
    background-color:rgba(117, 172, 245, 0.3);
}

td
{
    background-color:rgba(187, 211, 243, 0.3);
}

#div-item
{
    float:right;
    margin-bottom:10px;
}

#div-region
{
    float:right;
    clear:right;
    margin-bottom:10px;
}

#div-form
{
    float:right;
    clear:right;
}